* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: #caddd4;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #9ff5f1;
}

header,
main {
    max-width: 800px;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #629dc4;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

nav a {
	display: block;
	color: #fcfbfb;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover {
	text-decoration: underline double;
	background-color: #ecebeb;
	color: #000;
}

.active {
	color: yellow;
}

.container {
	display: grid;
	grid-template-columns:1fr;
	grid-gap: 25px;
    
}

figure img {
	width: 100%;
	height: auto;
}

figure {
    width: 100%;
}
figcaption {
	font-size: smaller;
}
.hover:hover {
	box-shadow: 0 0 50px #333;
}

#menu {
	font-size: 2rem;
	border: 0;
	background: none;
	color: white;
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}


.navigation {
	display: none;
}

.navigation.open {
	display: flex;
	flex-direction: column;
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

/* Larger Views ******************************/
@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
    .container {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}


